
body{
    background-color: pink;
}
div{
  margin-top: 10px;
  background-color: white;
  border: blue 4px solid;
  padding: 20px;
  width: 400px;
  clear: both;
  margin-left: 460px;
}
 
p{
   margin-left:  30px;
}

h1{
  margin-left: 60px;  
}
a{
    margin-left: 140px;
  }